<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrn.imd.monitoria_mobile">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AlunoMainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlunoDetalhesDuvidaActivity"
            android:label="@string/title_activity_aluno_detalhes_duvida"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddDuvida"
            android:label="Adicionar Duvida"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.ResponderDuvida"
            android:label="Responder Duvida"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>